{% extends 'widgets/base-widget.njk' %}

{% block label %}
<label class="col-12 col-md-3 col-form-label" for="{{ relation.propertyName }}">{{ relation.propertyName }}</label>
{% endblock %}

{% block input %}
  {% macro maybeSelected(relation, value) %}
    {% if isEntityInList(value, relation.getEntityValue(entity), relation.inverseEntityMetadata) %}selected{% endif %}
  {% endmacro %}

  {% setAsync 'options', getRelationOptions, [adminSite, relation] %}

  <select class="form-control" id="{{ relation.propertyName }}" name="{{ relation.propertyName }}" multiple>
    {% for option in options %}
      <option value="{{ option.id }}" {{ maybeSelected(relation, option) }}>
        {{ option | displayName(relation.inverseEntityMetadata) }}
      </option>
    {% endfor %}
  </select>
{% endblock %}
