{% extends 'widgets/base-widget.njk' %}

{% block input %}
  <input
    class="form-control"
    type="password"
    id="{{ column.propertyName }}"
    name="{{ column.propertyName }}"
  />
{% endblock %}
