@import './theme';

body {
  background: $white;
}

.admin-content {
  padding: 1rem 2rem;
}

.admin-title {
  margin: 1rem 2rem;
  display: flex;
  justify-content: space-between;

  h3 {
    display: inline;
  }
}

.admin-subheader {
  background-color: $background-gray;
}
