@import './theme';

.admin-form {
  width: 100%;
  background: $background-gray;
  padding: 1rem;
  margin: 0 1rem;
  border: 1px solid #dee2e6;
}

.change-form {
  // The placement of the delete button pushes both buttons off the bottom of the form
  // This extends the form so that they are contained again
  padding-bottom: 3.5rem;
}
