{
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 100,
  "tabWidth": 2,
  "semi": false,
  "arrowParens": "avoid",
  "overrides": [
    {
      "files": "*.njk",
      "options": {
        "parser": "melody"
      }
    }
  ]
}
