version: 2.1

executors:
  defaults_typescript:
    docker:
      - image: circleci/node:10.13.0
      - image: circleci/postgres:9.6-alpine-ram
        environment:
          - POSTGRES_DB=seed
          - POSTGRES_USER=seed
          - POSTGRES_PASSWORD=Ge0rgesMoustaki
          - PGPORT=5434

commands:
  yarn-install:
    steps:
      - checkout
      - attach_workspace:
          at: ~/nestjs-admin
      - restore_cache:
          key: v2-node-modules-cache-{{ checksum "yarn.lock" }}-{{ checksum "exampleApp/yarn.lock" }}
      - run:
          name: Install lib dependencies
          command: yarn install
      - run:
          name: Build lib
          command: yarn build
      - run:
          name: Install example app dependencies
          command: cd exampleApp && yarn install
      - save_cache:
          key: v2-node-modules-cache-{{ checksum "yarn.lock" }}-{{ checksum "exampleApp/yarn.lock" }}
          paths:
            - node_modules
            - exampleApp/node_modules
      - persist_to_workspace:
          root: ~/nestjs-admin
          paths:
            - node_modules
            - exampleApp/node_modules
            - .env

  generate-example-project:
    steps:
      - restore_cache:
          key: v3-example-project-cache-{{ checksum "test-project/yarn.lock" }}
      - run:
          name: Generate example project
          command: ./.circleci/scripts/generate-project.sh
      - save_cache:
          key: v3-example-project-cache-{{ checksum "test-project/yarn.lock" }}
          paths:
            - test-project/node_modules

jobs:
  yarn-install-back:
    executor: defaults_typescript
    working_directory: ~/nestjs-admin
    steps:
      - yarn-install

  test-unit:
    executor: defaults_typescript
    working_directory: ~/nestjs-admin
    environment:
      NODE_ENV: test
    steps:
      - checkout
      - attach_workspace:
          at: ~/nestjs-admin
      - run:
          name: Run migrations
          command: cd exampleApp && yarn test:migration:run
      - run:
          name: Run tests
          command: yarn test

  test-library:
    executor: defaults_typescript
    working_directory: ~/nestjs-admin
    environment:
      NODE_ENV: prod
    steps:
      - checkout
      - attach_workspace:
          at: ~/nestjs-admin
      - generate-example-project
      - run:
          name: Start the example project
          command: cd exampleApp/test-project && yarn start

workflows:
  version: 2
  stack:
    jobs:
      - yarn-install-back
      - test-unit:
          requires:
            - yarn-install-back
      - test-library:
          requires:
            - yarn-install-back
