/* your custom css */

/* Restrict home logo size */
.homeLogo {
  width: 70%;
  max-width: 700px;
}

/* Increase size of tagline on home page */
.homeTagline {
  font-size: 20px;
  font-weight: 500;
}

.noPadding {
  padding: 0;
}

/* Center-align home page section titles */
.container .wrapper .imageAlignSide h2 {
  text-align: center;
}

/* Increase width of search bar on mobile */
.navSearchWrapper {
  width: 75%;
}

@media (max-width: 768px) {
  .homeLogo {
    width: 100%;
  }
}

.post {
  padding-left: 20px;
}

.post h6,
.post h5,
.post h4,
.post h3,
.post h2,
.post h1 {
  margin-left: -20px;
}

.post img {
  border: thin solid black;
  border-radius: 4px;
}
