/* your custom css */

.homeLogo {
  width: 70%;
  max-width: 700px;
}

.homeTagline {
  font-size: 20px;
  font-weight: 500;
}

.noPadding {
  padding: 0;
}

.container .wrapper .imageAlignSide h2 {
  text-align: center;
}

@media (max-width: 768px) {
  .homeLogo {
    width: 100%;
  }
}
