/* your custom css */

.homeLogo {
  width: 80%;
  max-width: 900px;
}

.homeTagline {
  font-size: 20px;
  font-weight: 500;
}

.mainContainer {
  padding: 0;
}

@media (max-width: 768px) {
  .homeLogo {
    width: 100%;
  }
}
