<html>
<body>
  <a href="{{ 'changelist' | adminUrl(section, metadata) }}">Back</a>
  <h1>{{ metadata.name }}</h1>
  <h2>Add new {{ metadata.name }}</h2>
  <form method="POST" action="{{ 'add' | adminUrl(section, metadata) }}" class="entity-form entity-form--add">
    {% asyncEach widget in adminEntity.getWidgets("add") %}
      <fieldset class="entity-form__field {{ field }}">
          {% include widget.template %}
      </fieldset>
    {% endeach %}
    <button type="submit">Submit</button>
  </form>
</body>
</html>
