<html>
<body>
  <a href="{{ 'changelist' | adminUrl(section, metadata) }}">Back</a>
  <h1>{{ metadata.name }}</h1>
  <h2>Add new {{ metadata.name }}</h2>
  <form method="POST" action="{{ 'add' | adminUrl(section, metadata) }}">
    {% asyncEach column in metadata.columns %}
      {% if not column.isGenerated %}
        <fieldset>
          {% include getWidgetTemplate(column) %}
        </fieldset>
      {% endif %}
    {% endeach %}
    <button type="submit">Submit</button>
  </form>
</body>
</html>
