<html>
<head>

{% if useJquery %}
<script
  src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
  integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8="
  crossorigin="anonymous"></script>
{% endif %}

</head>
<body>

{% block body %}
{% endblock %}

</body>
</html>
