<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- NestJS Admin CSS -->
  <link rel="stylesheet" href="/static/css/base.css">

  {% block stylesheets %}
  {% endblock %}

  <title>{{ siteTitle | default(adminSite.siteHeader) }}</title>

  {% if useJquery %}
  <script
    src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8="
    crossorigin="anonymous"></script>
  {% endif %}

</head>
<body class="{{ pageId }}">

<nav class="admin-header navbar navbar-dark bg-dark">
  <a class="navbar-brand mb-0 h1" href="{{ 'index' | adminUrl() }}">{{ adminSite.siteHeader }}</a>
</nav>

{% if backLink %}
  <nav class="navbar admin-subheader">
    <a href="{{ backLink }}">
      <button type="button" class="btn btn-outline-secondary btn-sm">&lsaquo; back</button>
    </a>
  </nav>
{% endif %}

{% block body %}
{% endblock %}

</body>
</html>
