<html>
<body>
  <a href="{{ 'changelist' | adminUrl(section, metadata) }}">Back</a>
  <h1>{{ metadata.name }}</h1>
  <h2>{{ entity | displayName(metadata) }}</h2>
  <form method="POST" action="{{ 'change' | adminUrl(section, metadata, entity) }}">
    {% asyncEach column in metadata.columns %}
      {% set value=column.getEntityValue(entity) %}
      <fieldset>
        {% if not column.isGenerated %}
          {% include getWidgetTemplate(column) %}
        {% else %}
          {% include "widget-plaintext.njk" %}
        {% endif %}
      </fieldset>
    {% endeach %}
    {% asyncEach relation in metadata.manyToManyRelations %}
      <fieldset>
        {% include 'widget-manytomany.njk' %}
      </fieldset>
    {% endeach %}
    <button type="submit">Submit</button>
  </form>
</body>
</html>
