{% set useJquery = false %}
{% set backLink = 'index' | adminUrl  %}

{% extends 'base.njk'%}

{% block stylesheets %}
<link rel="stylesheet" href="/static/css/changelist.css">
{% endblock %}

{% block body %}

<div class="container-fluid admin-content">
  <div class="row">
    <div class="col-12">
      <h2>{{ metadata.name }}</h2>
      <h4>{{ count }} results</h4>
      <a href="{{ 'add' | adminUrl(section, metadata, entity) }}"><button>Add</button></a>
    </div>
    <div class="col-12">
      <table class="table table-bordered table-striped entity-table">
        {% for entity in entities %}
          <tr>
            <td>
              <a href="{{ 'change' | adminUrl(section, metadata, entity) }}">
                {{ entity | displayName(metadata) }}
              </a>
            </td>
            <td class="action-cell">
              <form method="POST" action="{{ 'delete' | adminUrl(section, metadata, entity) }}">
                <input type="submit" value="delete">
              </form>
            </td>
          </tr>
        {% endfor %}
      </table>

      {% set paginationRanges = getPaginationRanges(page, resultsPerPage, count) %}
      {% for pageRange in paginationRanges %}
        {% for pageNumber in pageRange %}
          <a href="{{ generatePaginatedUrl(request, pageNumber) }}">{{ pageNumber }}</a>
        {% endfor %}
        {{ "..." if not loop.last }}
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}
