{% set useJquery = false %}

{% extends 'base.njk'%}

{% block stylesheets %}
<link rel="stylesheet" href="/static/css/changelist.css">
{% endblock %}

{% block body %}

<div class="container-fluid admin-content">
  <div class="row">
    <div class="col-12">
      <a href="{{ 'index' | adminUrl }}">Back</a>
      <h2>{{ metadata.name }}</h2>
      <h4>{{ count }} results</h4>
      <a href="{{ 'add' | adminUrl(section, metadata, entity) }}"><button>Add</button></a>
    </div>
    <div class="col-12">
      <table class="table table-bordered table-striped entity-table">
        {% for entity in entities %}
          <tr>
            <td>
              <a href="{{ 'change' | adminUrl(section, metadata, entity) }}">
                {{ entity | displayName(metadata) }}
              </a>
            </td>
            <td class="action-cell">
              <form method="POST" action="{{ 'delete' | adminUrl(section, metadata, entity) }}">
                <input type="submit" value="delete">
              </form>
            </td>
          </tr>
        {% endfor %}
      </table>

      <ul class="pagination">
        {% set paginationRanges = getPaginationRanges(page, resultsPerPage, count) %}
        {% for pageRange in paginationRanges %}
          {% for pageNumber in pageRange %}
            {% set active = page == pageNumber %}
            <li class="page-item {{ "active" if active }}">
              <a
                class="page-link"
                {% if not active %}
                  href="{{ generatePaginatedUrl(request, pageNumber) }}"
                {% endif %}
              >
                {{ pageNumber }}
              </a>
            </li>
          {% endfor %}
          {% if not loop.last %}
            <li class="page-item"><a class="page-link disabled">…</a></li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
</div>

{% endblock %}
