<html>
<body>
  <h1>{{ metadata.name }}</h1>
  <h2>{{ entity | displayName(metadata) }}</h2>
  <form method="POST" action="{{ 'change' | adminUrl(section, metadata, entity) }}">
    {% asyncEach column in metadata.columns %}
      {% set value=column.getEntityValue(entity) %}
      <fieldset>
        {% include getWidgetTemplate(column) %}
      </fieldset>
    {% endeach %}
    <button type="submit">Submit</button>
  </form>
</body>
</html>
