{% set useJquery = false %}
{% extends 'base.njk'%}

{% block body %}

{% for section in sections %}
  <div class="mt-4">
    <h2>{{ section.name }}</h2>
    <table class="table">
      <tbody>
      {% for entityMD in section.getEntitiesMetadata() %}
        <tr>
          <td>
            <a href="{{ 'changelist' | adminUrl(section, entityMD) }}">
              {{ entityMD.name }}
            </a>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
{% endfor %}

{% endblock %}
