{% set useJquery = false %}
{% extends 'base.njk'%}

{% block body %}

<ul>
  {% for section in sections %}
    <li>
      <h2>{{ section.name }}</h2>
      <ul>
        {% for entityMD in section.getEntitiesMetadata() %}
          <li>
            <a href="{{ 'changelist' | adminUrl(section, entityMD) }}">
              {{ entityMD.name }}
            </a>
          </li>
        {% endfor %}
      </ul>
    </li>
  {% endfor %}
</ul>

{% endblock %}
