{% set useJquery = false %}
{% extends 'base.njk'%}

{% block stylesheets %}
<link rel="stylesheet" href="/static/css/index.css">
{% endblock %}

{% block body %}

{% for section in sections %}
  <table class="table table-bordered table-striped section-table">
    <thead class="thead-dark">
      <tr><th>{{ section.name }}</th></tr>
    </thead>
    <tbody>
    {% for entityMD in section.getEntitiesMetadata() %}
      <tr>
        <td>
          <a href="{{ 'changelist' | adminUrl(section, entityMD) }}">
            {{ entityMD.name }}
          </a>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endfor %}

{% endblock %}
