{% set useJquery = false %}
{% extends 'base.njk'%}

{% block body %}

<div>
  <form>
    <input type='text' required />
    <input type='password' required />
    <button type='submit'>Submit</button>
  </form>
</div>

{% endblock %}
