{% set useJquery = false %}
{% set pageId = "admin-login" %}
{% extends 'base.njk'%}

{% block stylesheets %}
<link rel="stylesheet" href="/static/css/login.css">
{% endblock %}

{% block body %}

<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="admin-login__container">
        <div class="admin-login__header">
          {{ adminSite.siteHeader }}
        </div>
        <div class="admin-login__content">
          <div class="alert alert-info">
            Please provide admin credentials to access the administration
          </div>
          <form>
            <div class="form-group">
              <label for="email">Email address</label>
              <input
                id="email"
                type="email"
                class="form-control"
                placeholder="Enter your email"
                required
              />
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input
                type="password"
                class="form-control"
                id="password"
                required
              />
            </div>
            <div class="admin-login__content__submit">
              <button type="submit" class="btn btn-primary">Login</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
