{% set useJquery = false %}
{% extends 'base.njk'%}

{% block body %}

<div>
  <input type='text' required />
  <input type='password' required />
  <button type='submit'>Submit</button>
</div>

{% endblock %}
