{% set isDisabled=(column.isCreateDate or column.isUpdateDate) %}

<label for="{{ column.propertyName }}">{{ column.propertyName }}</label>
<div>
  {% if not isDisabled %}
    <input
      type="date"
      id="{{ column.propertyName }}"
      name="{{ column.propertyName }}"
      {% if value %}value="{{ value | date }}"{% endif %}
      pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}"
    />
  {% else %}
    {{ column.getEntityValue(entity) | date }}
  {% endif %}
</div>
