<label for="{{ column.propertyName }}">{{ column.propertyName }}</label>
<div>
  {# Because checkboxes don't send a value if left unchecked, we include a hidden default field
  to pass the false value. If the box is checked, both values are sent and the true value is used #}
  <input
    type="hidden"
    id="{{ column.propertyName }}"
    name="{{ column.propertyName }}"
    value=0
  />
  <input
    type="checkbox"
    id="{{ column.propertyName }}"
    name="{{ column.propertyName }}"
    value=1
    {% if value %}checked{% endif %}
  />
</div>
