<label for="{{ column.propertyName }}">{{ column.propertyName }}</label>
<div>
  <input
    type="number"
    step="any"
    id="{{ column.propertyName }}"
    name="{{ column.propertyName }}"
    value="{{ value }}"
  />
</div>
