<label for="{{ column.propertyName }}">{{ column.propertyName }}</label>
<div>
  {# False values aren't sent by default, so we send a hidden false value and override if necessary #}
  <input
    type="hidden"
    id="{{ column.propertyName }}"
    name="{{ column.propertyName }}"
    value=0
  />
  <input
    type="checkbox"
    id="{{ column.propertyName }}"
    name="{{ column.propertyName }}"
    value=1
    {% if column.getEntityValue(entity) %}checked{% endif %}
  />
</div>
