{% macro field(name, value = '') %}
  <div>
    <input
      id="{{ name }}"
      name="{{ name }}"
      value="{{ value }}"
    />
    <button type="button">X</button>
  </div>
{% endmacro %}


<label for="{{ column.propertyName }}">{{ column.propertyName }}</label>
<div>
  {% for singleValue in value %}
    {% set fieldName = column.propertyName + "["+ loop.index0+ "]" %}
    {{ field(fieldName, singleValue) }}
  {% endfor %}

  {% set fieldName = column.propertyName + "["+ "3" + "]" %}
  {# <button type="button" onclick="this.parentElement.append('{{field(fieldName)|forceescape}}')">+</button> #}
</div>
