<label for="{{ column.propertyName }}">{{ column.propertyName }}</label>
<div>
  <select
    id="{{ column.propertyName }}"
    name="{{ column.propertyName }}"
  >
    <option value='null'
      {% if value == null %}selected{% endif %}
    >
      Unknown
    </option>
    <option value='true'
      {% if value == true %}selected{% endif %}
    >
      True
    </option>
    <option value='false'
      {% if value == false %}selected{% endif %}
    >
      False
    </option>
  </select>
</div>
