{% set isDisabled=(column.isCreateDate or column.isUpdateDate) %}

{% if not isDisabled %}
  <label for="{{ column.propertyName }}">{{ column.propertyName }}</label>
  <div>
    <input
      type="date"
      id="{{ column.propertyName }}"
      name="{{ column.propertyName }}"
      {% if value %}value="{{ value | date }}"{% endif %}
      pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}"
    />
  </div>
{% else %}
  {% include 'widget-plaintext.njk' %}
{% endif %}
