<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- NestJS Admin CSS -->
  <link rel="stylesheet" href="/admin-static/css/base.css">
  <link rel="stylesheet" href="/admin-static/css/widget.css">

  {% block stylesheets %}
  {% endblock %}

  <title>{{ siteTitle | default(adminSite.siteHeader) }}</title>

  {% if useJquery %}
  <script
    src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8="
    crossorigin="anonymous"></script>
  {% endif %}

</head>
<body class="{{ pageId }}">

{% include 'header.njk' %}

{% if backLink %}
  <nav class="navbar admin-subheader">
    <a href="{{ backLink }}">
      <button type="button" class="btn btn-outline-secondary btn-sm">&lsaquo; Back</button>
    </a>
  </nav>
{% endif %}

  {% for item in messages %}
    <div class="alert alert-success">
      {{ item }}
    </div>
  {% endfor %}

{% block body %}
{% endblock %}

</body>
</html>
