{% extends 'widgets/base-widget.njk' %}

{% block input %}
  {% set isDisabled=(column.isCreateDate or column.isUpdateDate) %}

  {% if not isDisabled %}
    <input
      class="form-control"
      type="date"
      id="{{ column.propertyName }}"
      name="{{ column.propertyName }}"
      {% if value %}value="{{ value | date }}"{% endif %}
      pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}"
    />
  {% else %}
    {% include 'widgets/plaintext.njk' %}
  {% endif %}
{% endblock %}
