{% extends 'widgets/base-widget.njk' %}

{% block input %}
  <input
    class="form-control"
    type="number"
    step="any"
    id="{{ column.propertyName }}"
    name="{{ column.propertyName }}"
    value="{{ value }}"
  />
{% endblock %}
