{% extends 'widgets/base-widget.njk' %}

{% block input %}
  <input
    class="form-control"
    type="password"
    id="{{ widget.column.propertyName }}"
    name="{{ widget.column.propertyName }}"
    {{ "required" if widget.isRequired() }}
  />
{% endblock %}
