{% extends 'widgets/base-widget.njk' %}

{% block input %}
  <textarea
    class="form-control"
    id="{{ widget.column.propertyName }}"
    name="{{ widget.column.propertyName }}"
    {{ "required" if not widget.column.isNullable }}
  >{{ widget.getValue() }}</textarea>
{% endblock %}
