<label for="{{ column.propertyName }}">{{ column.propertyName }}</label>
<div>
  <input
    type="number"
    step="1"
    id="{{ column.propertyName }}"
    name="{{ column.propertyName }}"
    {% if value %}value={{ value }}{% endif %}
  />
</div>
