{% extends 'widgets/base-widget.njk' %}

{% block input %}
  {% macro field(name, value = '') %}
      <input
        id="{{ name }}"
        name="{{ name }}"
        value="{{ value }}"
      />
      <button type="button">X</button>
  {% endmacro %}

  <div id="values-{{ column.propertyName }}">
    {% for value in column.getEntityValue(entity) %}
    <div>
      {{ field(column.propertyName, value) }}
    </div>
    {% endfor %}
  </div>
  <button type="button" onclick="addInput()">+</button>
{% endblock %}

{% block script %}
  <script>
    function addInput() {
      const newInput = "{{ field(column.propertyName, "") | replace("\n", "") | replace("\"", "\\\"") }}";
      const node = document.createElement("div");
      node.innerHTML = newInput;
      document.getElementById("values-{{ column.propertyName }}").appendChild(node)
    }
  </script>
{% endblock %}
