{% extends 'widgets/base-widget.njk' %}

{% block input %}
  {% macro field(name, value = '') %}
    <div class="input-{{ name }}">
      <input
        id="{{ name }}"
        name="{{ name }}"
        value="{{ value }}"
      />
      <button type="button" onclick="{{ name }}RemoveInput(this)">X</button>
    </div>
  {% endmacro %}

  <div id="values-{{ column.propertyName }}">
    {% for value in column.getEntityValue(entity) %}
      {{ field(column.propertyName, value) }}
    {% endfor %}
  </div>
  <button type="button" onclick="{{ column.propertyName }}AddInput()">+</button>
{% endblock %}

{% block script %}
  <script>
    function {{ column.propertyName }}AddInput() {
      const inputContainer = document.getElementById("values-{{ column.propertyName }}");
      const newInput = "{{ field(column.propertyName) | replace("\n", "") | replace("\"", "\\\"") }}";
      inputContainer.appendChild($(newInput)[0])
    }
    function {{ column.propertyName }}RemoveInput(self) {
      self.closest('.input-{{ column.propertyName }}').remove()
    }
  </script>
{% endblock %}
