{% extends 'widgets/base-widget.njk' %}

{% block input %}
  {% macro field(name, value = '') %}
    <input
      id="{{ name }}"
      name="{{ name }}"
      value="{{ value }}"
    />
    <button type="button" onclick="removeInput(this)">X</button>
  {% endmacro %}

  <div id="values-{{ column.propertyName }}">
    {% for value in column.getEntityValue(entity) %}
    <div class="input-{{ column.propertyName }}">
      {{ field(column.propertyName, value) }}
    </div>
    {% endfor %}
  </div>
  <button type="button" onclick="addInput()">+</button>
{% endblock %}

{% block script %}
  <script>
    function addInput() {
      const inputContainer = document.getElementById("values-{{ column.propertyName }}");
      const newInput = "{{ field(column.propertyName) | replace("\n", "") | replace("\"", "\\\"") }}";
      const node = document.createElement("div");
      node.innerHTML = newInput;
      inputContainer.appendChild(node)
    }
    function removeInput(self) {
      self.closest('.input-{{ column.propertyName }}').remove()
    }
  </script>
{% endblock %}
