{% extends 'widgets/base-widget.njk' %}

{% block input %}
  <input
    id="{{ column.propertyName }}"
    name="{{ column.propertyName }}"
    value="{{ column.getEntityValue(entity) }}"
  />
{% endblock %}
