{% extends 'widgets/base-widget.njk' %}

{% block input %}
  <textarea
    id="{{ column.propertyName }}"
    name="{{ column.propertyName }}"
  >{{ column.getEntityValue(entity) }}</textarea>
{% endblock %}
