<label for={{ column.propertyName }}>{{ column.propertyName }}</label>
<div>
  <textarea
    id="{{ column.propertyName }}"
    name="{{ column.propertyName }}"
  >{{ column.getEntityValue(entity) }}</textarea>
</div>
