@import './theme';

.admin-changelist {
  .entity-table {
    .action-cell {
      width: 1rem;
    }
  }

  &__count {
    color: $gray-600;
  }

  &__list-actions {
    display: flex;

    .btn {
      margin-left: 0.5rem;
    }
  }

  .search-bar {
    background-color: $background-gray;
    margin-bottom: 1rem;
    padding: 1rem;
  }

  .search-box {
    display: flex;
    input {
      margin-right: 1rem;
    }
  }
}
