@import './theme';

.admin-changelist {
  .entity-table {
    .action-cell {
      width: 1rem;
    }
  }

  &__count {
    color: $gray-600;
  }

  .search-bar {
    background-color: $background-gray;
    margin: 1rem 0;
    align-items: center;
    height: 4rem;
  }

  .search-box {
    padding: 1rem;
    margin: 1rem;
  }
}
