@import './theme';

.admin-changelist {
  .entity-table {
    .action-cell {
      width: 1rem;
    }
  }

  &__count {
    color: $gray-600;
  }

  &__list-actions {
    display: flex;

    .btn {
      margin-left: 0.5rem;
    }
  }
}
