@import '../../../../node_modules/bootstrap/scss/functions';
@import '../../../../node_modules/bootstrap/scss/variables';
@import '../../../../node_modules/bootstrap/scss/mixins';

$background-gray-light: #fdfdfd;
$background-gray: #f5f5f5;
$color-danger: #dc3545;
